<header>
    <nav>
        <a href="/"><h1>Help Me !</h1></a>
        <ul>
            <li><a href="/ticket/">Liste des tickets</a></li>
            <li><a href="/ticket/add-ticket">Faire un ticket</a></li>
        </ul>
    </nav>
</header>