<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help Me</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <%- include('partials/fragment_header')  %>

        <main>
            <% if (typeof notLoggedIn !== 'undefined' && notLoggedIn) { %>
                <p>Vous devez être connecté pour effectuer cette action !</p>
            <% } %>

            <!-- typeof evite l'erreur du undefined -->
            <% if (typeof errorLogin !== 'undefined' && errorLogin) { %>
                <p><%= errorLogin %></p>
            <% } %>
        </main>

        <%- include('partials/fragment_footer')  %>
    </body>
</html>